<div class="container">
	<div class="header_content">
		<div class="header_logo">
			<a href="">
				<svg  class="header_logo_block" height="25" width="124">
					<use class="logo" xlink:href="#logo"></use>
				</svg>
			</a>
		</div>
		<div class="header_search">
			<svg class="notifications-block" height="26" width="26">
				<use class="notifications" xlink:href="#notifications"></use>
			</svg>
			<svg class="search-icon-block" height="22" width="22">
				<use class="search-icon" xlink:href="#search-icon"></use>
			</svg>
		</div>
	</div>
</div>
