<div class="container main_contant">
	<div class="side_bar">
		<div class="side_bar_cont">
			<div class="profile">
				<div class="profile_avatar">
					<img src="img/Avatar.png" alt="avatar">
				</div>
				<div class="profile_info">
					<h1>Abhisek Das</h1>
					<p>10,968 Followers</p>
				</div>
			</div>
			<ul class="profile_navigator">
				<li class="profile_navigator-item vertical-align">
					<a href="#" class="vertical-align">
						<svg class="dashboard-icon-block" height="20" width="20">
							<use class="dashboard-icon" xlink:href="#dashboard-icon"></use>
						</svg>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="profile_navigator-item vertical-align">
					<a href="#" class="vertical-align">
						<svg class="social-feed-icon-block" height="20" width="20">
							<use class="social-feed-icon" xlink:href="#social-feed-icon"></use>
						</svg>
						<span>Social Feed</span>
					</a>
				</li>
				<li class="profile_navigator-item vertical-align">
					<a href="#" class="vertical-align">
						<svg class="invite-friends-icon-block" height="20" width="20">
							<use class="invite-friends-icon" xlink:href="#invite-friends-icon"></use>
						</svg>
						<span>Invite Friends</span>
					</a>
				</li>
				<li class="profile_navigator-item vertical-align">
					<a href="#" class="vertical-align">
						<svg class="settings-icon-block" height="20" width="20">
							<use class="settings-icon" xlink:href="#settings-icon"></use>
						</svg>
						<span>Settings</span>
					</a>
				</li>
				<li class="profile_navigator-item vertical-align">
					<a href="#" class="vertical-align">
						<svg class="log-out-icon-block" height="20" width="20">
							<use class="log-out-icon" xlink:href="#log-out-icon"></use>
						</svg>
						<span>Log out</span>
					</a>
				</li>
			</ul>
		</div>
		<ul class="profile_footer">
			<li class="profile_footer-item"><a href="#">About</a></li>
			<li class="profile_footer-item"><a href="#">Terms</a></li>
			<li class="profile_footer-item"><a href="#">Privacy</a></li>
			<li class="profile_footer-item"><a href="#">Help</a></li>
			<li class="profile_footer-item"><a href="#">Report</a></li>
		</ul>
	</div>
	<div class="dashboard">
		<div class="dashboard_link">
			<p>@abhisek.das</p>
			<button id="button">+ Add Social Profile</button>
			<div id="modal_form"><!-- Сaмo oкнo -->
				<div class="modal_form_ctn">
					<h3>Add Social Profile</h3>
					<span id="modal_close">
						<svg height="12" width="12">
							<use class="line" xlink:href="#line"></use>
						</svg>
					</span> <!-- Кнoпкa зaкрыть --> 
				</div>
				<p id="modal_form_info">Add new social profile for tracking</p>
				<p id="modal_form_url">URL</p>
				<form>
					<input type="text" placeholder="https://twitter.com/username">
					<button id="modal_form_button">Lookup</button>
				</form>
			</div>
			<div id="overlay"></div><!-- Пoдлoжкa -->
		</div>
		<div class="dashboard_social">
			<ul class="navigator">
				<li class="list-item-navi active">Last day</li>
				<li class="list-item-navi">Week</li>
				<li class="list-item-navi">Month</li>
			</ul>
			<div class="content active" id="list">
				//- <div class="social_box">
				//- 	<div class="social_box_status">
				//- 		<svg  class="social_box_block" height="20" width="20">
				//- 			<use class="facebook-color" xlink:href="#facebook-color"></use>
				//- 		</svg>
				//- 		<p class="folowers">1,701<br><span>FOLOWERS</span></p>
				//- 		<p class="growth">+4
				//- 			<span>
				//- 				<svg height="12" width="7">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p>
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user1.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>Facebook</h2>
				//- 			<p>@abhisek.daas</p>
				//- 		</div>
				//- 	</div>
				//- </div>
				//- <div class="social_box">
				//- 	<div class="social_box_status twitter">
				//- 		<svg  class="social_box_block" height="20" width="24">
				//- 			<use class="twitter-color" xlink:href="#twitter-color"></use>
				//- 		</svg>
				//- 		<p class="folowers">1,567<br><span>FOLOWERS</span></p>
				//- 		<p class="growth">-3
				//- 			<span>
				//- 				<svg height="12" width="7"  transform="rotate(180)">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p>
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user2.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>Twitter</h2>
				//- 			<p>@wholetthedasout</p>
				//- 		</div>
				//- 	</div>
				//- </div>
				//- <div class="social_box">
				//- 	<div class="social_box_status instagram">
				//- 		<svg  class="social_box_block" height="20" width="24">
				//- 			<use class="instagram-color" xlink:href="#instagram-color"></use>
				//- 		</svg>
				//- 		<p class="folowers">1,139<br><span>FOLOWERS</span></p>
				//- 		<p class="growth">+11
				//- 			<span>
				//- 				<svg height="12" width="7">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p>
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user3.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>Instagram</h2>
				//- 			<p>@wholetthedasout</p>
				//- 		</div>
				//- 	</div>
				//- </div>
				//- <div class="social_box">
				//- 	<div class="social_box_status linkidin">
				//- 		<svg  class="social_box_block" height="20" width="24">
				//- 			<use class="linkedIn-color" xlink:href="#linkedIn-color"></use>
				//- 		</svg>
				//- 		<p class="folowers">2,016<br><span>FOLOWERS</span></p>
				//- 		<p class="growth">+39
				//- 			<span>
				//- 				<svg height="12" width="7">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p>
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user1.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>LinkedIn</h2>
				//- 			<p>@abhisekd3</p>
				//- 		</div>
				//- 	</div>
				//- </div>
				//- <div class="social_box">
				//- 	<div class="social_box_status youtube">
				//- 		<svg  class="social_box_block" height="20" width="29">
				//- 			<use class="youtube-color" xlink:href="#youtube-color"></use>
				//- 		</svg>
				//- 		<p class="folowers">3,190<br><span>SUBSCRIBERS</span></p>
				//- 		<p class="growth">+22
				//- 			<span>
				//- 				<svg height="12" width="7">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p>
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user4.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>YouTube</h2>
				//- 			<p>@TheAbhisekD</p>
				//- 		</div>
				//- 	</div>
				//- </div>
				//- <div class="social_box">
				//- 	<div class="social_box_status snapchat">
				//- 		<svg  class="social_box_block" height="20" width="21">
				//- 			<use class="snapchat" xlink:href="#snapchat"></use>
				//- 		</svg>
				//- 		<p class="folowers">8,754<br><span>SNAP SCORE</span></p>
				//- 		<!-- <p class="growth">-3
				//- 			<span>
				//- 				<svg height="12" width="7">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p> -->
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user3.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>Snapchat</h2>
				//- 			<p>@abhisekd</p>
				//- 		</div>
				//- 	</div>
				//- </div>
				//- <div class="social_box">
				//- 	<div class="social_box_status google">
				//- 		<svg  class="social_box_block" height="20" width="32">
				//- 			<use class="googlePlus-color" xlink:href="#googlePlus-color"></use>
				//- 		</svg>
				//- 		<p class="folowers">1,033<br><span>FOLOWERS</span></p>
				//- 		<!-- <p class="growth">-3
				//- 			<span>
				//- 				<svg height="12" width="7">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p> -->
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user3.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>Google+</h2>
				//- 			<p>@+AbhisekDas</p>
				//- 		</div>
				//- 	</div>
				//- </div>
				//- <div class="social_box">
				//- 	<div class="social_box_status vine">
				//- 		<svg  class="social_box_block" height="20" width="24">
				//- 			<use class="vine-color" xlink:href="#vine-color"></use>
				//- 		</svg>
				//- 		<p class="folowers">1,045<br><span>LOOPS</span></p>
				//- 		<!-- <p class="growth">-3
				//- 			<span>
				//- 				<svg height="12" width="7">
				//- 					<use class="page1" xlink:href="#page1"></use>
				//- 				</svg>
				//- 			</span>
				//- 		</p> -->
				//- 	</div>
				//- 	<div class="social_box_user">
				//- 		<div class="user_logo">
				//- 			<img src="img/user5.png" alt="">
				//- 		</div>
				//- 		<div class="user_info">
				//- 			<h2>Vine</h2>
				//- 			<p>@1316139228245221376</p>
				//- 		</div>
				//- 	</div>
				//- </div>
			</div>
			<div class="content">
				hello world
			</div>
			<div class="content">
				hello world !
			</div>
		</div>
	</div>
</div>