extends partials/layout

block vars
  - var title = "Sociotrack"
  - var bodyClass = "index_page"

block content
  header
    include ./partials/header
  main
    include ./partials/main
  footer
    include ./partials/footer